@import "~styles/shared";

.PowerCardPile {
  &__container {
    height: 150px;
    width: 120px;
    float: right;
  }
  &__image {
    height: 100%;
    display: block;
    object-fit: scale-down;
  }
  &__flippedCardSetContainer {
    width: 90vw;
  }
  &__flippedCardSetTitle {
    font-weight: 800;
  }
}
