@import "~styles/shared";

.Boards {
  &__boardArea {
    /*this one is the zoom+pan container
    the content is absolut, so we dont need it big*/
    width: 0px;
    height: 0px;
    overflow: visible;
  }

  &__container {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__token {
    position: absolute;
    display: flex;
  }
  &__tokensNormal {
    font-size: 30px;
    height: 30px;
  }
  &__tokensSmall{
    font-size: 20px;
    height: 20px;
  }
  &__tokensTiny{
    font-size: 10px;
    height: 10px;
  }

  &__tokensImage{
    object-fit: scale-down;
    max-height: 100%;
    //margin-bottom: -4px;
  }
  
  &__usedBoard {
    //width: 250px;
    position: absolute;
    transition: all 800ms ease;
    transform-origin: top left;
    clip-path: path(
      "M 20.50,223.00 
       C 20.50,223.00 71.00,114.50 71.00,114.50 
       71.00,114.50 97.00,71.50 97.00,71.50 
       97.00,71.50 143.50,40.00 143.50,40.00 
       143.50,40.00 219.99,31.18 219.99,31.18 
       219.99,31.18 258.00,55.00 258.00,55.00 
       258.00,55.00 377.00,16.00 377.00,16.00 
       377.00,16.00 486.50,37.23 486.50,38.00 
       486.50,38.31 464.92,83.83 464.92,83.83 
       464.92,83.83 424.50,117.00 424.50,117.00 
       424.50,117.00 399.50,227.00 399.50,227.00 
       399.50,227.00 329.50,307.00 329.50,307.00 
       329.50,307.00 281.00,314.00 281.00,314.00 
       281.00,314.00 255.50,290.50 255.50,290.50 
       255.50,290.50 123.50,329.00 123.50,329.00 
       123.50,329.00 16.50,306.00 16.50,306.00 
       16.50,306.00 20.50,223.00 20.50,223.00 Z"
    );
  }

  &__centerViewButton {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
    height: 2em;
    background-color: $c-orange;
    padding: 7px;
    border-radius: 10px;
  }
}

