@import "~styles/shared";

.Boards {
  &__boardArea {
    /*this one is the zoom+pan container
    the content is absolut, so we dont need it big*/
    width: 0px;
    height: 0px;
    overflow: visible;
  }

  &__container {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__centerViewButton {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 2em;
    background-color: $c-orange;
    padding: 7px;
    border-radius: 10px;
  }

  &__debugDiv {
    position: absolute;
    left: 200px;
    top: 100px;
    width: 500px;
    height: 500px;
    border: solid;
    box-sizing: border-box;
    pointer-events: none;
  }
}
