@import "~styles/shared";

.Boards {
  &__boardArea {
    /*this one is the zoom+pan container
    the content is absolut, so we dont need it big*/
    width: 0px;
    height: 0px;
    overflow: visible;
  }

  &__container {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__usedBoard {
    //width: 250px;
    position: absolute;
    transition: all 800ms ease;
    transform-origin: top left;
    clip-path: path(
      "M 61.46,668.35
       C 61.46,668.35 212.86,343.17 212.86,343.17
       212.86,343.17 290.81,214.29 290.81,214.29
       290.81,214.29 430.21,119.88 430.21,119.88
       430.21,119.88 659.53,93.45 659.53,93.45
       659.53,93.45 773.48,164.84 773.48,164.84
       773.48,164.84 1130.25,47.95 1130.25,47.95
       1130.25,47.95 1458.53,111.58 1458.53,113.89
       1458.53,114.82 1393.83,251.25 1393.83,251.25
       1393.83,251.25 1272.65,350.66 1272.65,350.66
       1272.65,350.66 1197.70,680.34 1197.70,680.34
       1197.70,680.34 987.84,920.11 987.84,920.11
       987.84,920.11 842.44,941.09 842.44,941.09
       842.44,941.09 765.99,870.66 765.99,870.66
       765.99,870.66 370.25,986.04 370.25,986.04
       370.25,986.04 49.47,917.11 49.47,917.11
       49.47,917.11 61.46,668.35 61.46,668.35 Z"
    );
  }

  &__centerViewButton {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 2em;
    background-color: $c-orange;
    padding: 7px;
    border-radius: 10px;
  }

  &__debugDiv {
    position: absolute;
    left: 200px;
    top: 100px;
    width: 500px;
    height: 500px;
    border: solid;
    box-sizing: border-box;
    pointer-events: none;
  }
}
