@import "~styles/shared";

.AvailableBoards {
  
  &__area {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }


  &__image {
    //max-height: 100%;
    //max-width: 100%;
    object-fit: scale-down;
  }
}
