@import "~styles/shared";

.PhaseSetup {
  &__container {
    background-color: $c-brown;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 100px;
    overflow: auto;
  }

}
