@import "~styles/shared";

.PowerCardList {

  &__cardList {
    display: flex;
    flex-wrap: wrap;
    overflow-y:auto;
    max-height: 80vh;
    max-width: 90vw;
  }

  &__cardContainer {
    width: 19%;
    margin:5px;
  }

  &__buttonOverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__cardContainer img {
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
  }
}
