@import "~styles/shared";

.SpiritBoards {
 
  //hand cards
  &__handCards {
    display: flex;
    flex-wrap: wrap;
  }

  &__handCardsTitle {
    width: 100%;
    text-align: center;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  &__handCardContainer {
    width: 33%;
    position: relative;
  }

  &__handCardButtonOverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__handCardContainer img {
    max-width: 100%;
    object-fit: scale-down;
  }


}
