@import "~styles/shared";

.PhaseMain {
  &__container {
    background-color: $c-brown;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: 1fr 150px;
    overflow: auto;
  }
  &__invaderSlotList{
    height: 100%;
    float:right;
    display: flex;
    flex-direction: row-reverse;
  }
  &__invaderSlot{
    display: flex;
    flex-direction: column-reverse;
    font-size: small;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__FearIconContainer{
    text-align: center;
    font-size: x-large;
    float: right;
    display: flex;
    flex-direction: row;
    margin:15px;
  }
  &__FearIconImage{
    height: 73px;
  }
}
