@import "~styles/shared";

.PlayedCards {
 
  &__cards {
    position: absolute;
    top:0px;
    left:34%;
    height: 200px;

    display: flex;
  }

  &__cardContainer {
    height: 100%;
    position: relative;
    margin:5px;
  }

  &__buttonOverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__cardContainer img {
    max-height: 100%;
    object-fit: scale-down;
  }


}
