@import "~styles/shared";

.NewElementButton {
  &__button {
    vertical-align: middle;
  }

  &__newElementsContainer {
    display: flex;
    flex-wrap: wrap;
  }

  &__newElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 10px;
  }

  &__newElement img{
    width:32px
  }
}
