@import "~styles/shared";

.SpiritBoards {
  &__container {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: lighten($c-brown, 10%);
    border-right: solid darken($c-brown, 10%);
    scrollbar-color: lighten($c-brown, 20%) darken($c-brown, 20%);
    //scrollbar-width: thin;
  }

  &__header {
    height: 30px;
    text-align: center;
  }

  &__headerButtonNext {
    background: $c-orange;
    width: 30px;
    line-height: 30px;
    height: 100%;
    float:right;
  }
  &__headerButtonPrevious{
    background: $c-orange;
    width: 30px;
    height: 100%;
    line-height: 30px;
    float:left;
  }
  &__headerButtonTitle {
    display: inline-block;    
    height: 100%;
    line-height: 30px;
  }

  &__frontsideBoard{
    width: 100%;
  }
  &__frontsideBoard img{
    max-width: 100%;
    object-fit: scale-down;
  }

  &__activeSpiritInfo
  {
    padding:10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__handCards
  {
    display: flex;
    flex-wrap: wrap;
  }

  &__handCardContainer
  {
    width:33%;
  }

  &__handCardContainer img{
    max-width: 100%;
    object-fit: scale-down;
  }


}
