@import "~styles/shared";

.SpiritDetails {
  &__container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    scrollbar-color: #b98557 #9c6c41;
    scrollbar-width: thin;
  }
  &__imageContainer {
    position: relative;
  }
  &__flipButton {
    position: absolute;
    top: 2%;
    left: 2%;
  }

  &__image {
    width: 100%;
    max-height: 100%;
    object-fit: scale-down;
  }

  &__handcardTitle{
    font-weight: 800;
    font-size: larger;
  }

  &__handcardList {
    overflow-x: auto;
    flex-wrap: nowrap;
  }

  &__handcardCard {
    width: 30%;
    flex-shrink: 0;
  }
  
}
